{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Tenetur est officiis iste eaque, voluptatum vel consequuntur iure
        recusandae optio, doloribus error, ipsa libero at unde earum debitis
        rerum tempore. Aut.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}